@page
@model ContactModel
<form method="post">
    <div>
        <label>Name</label>
        <input asp-for="Name" />
    </div>
    <div>
        <label>Email</label>
        <input asp-for="Email" />
    </div>
    <div>
        <label>Message</label>
        <textarea asp-for="Message"></textarea>
    </div>
    <button type="submit">Send</button>
</form>
